<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
    </head>
    <body>
        <div class="container app-wrapper">
            <header>
                <h5>Discount Ascii Warehouse</h5>
                <p>Here you're sure to find a bargain on some of the finest ascii available to purchase. Be sure to peruse our selection of ascii faces in an exciting range of sizes and prices.</p>
                <p>But first, a word from our sponsors:</p>
                <script>document.write('<img class="ad" src="/ad/?r=' + Math.floor(Math.random()*1000) + '"/>');</script>
            </header>
            <section class="products" id="root"></section>
        </div>

        <script id="webpack-livereload-plugin-script" async="" src="http://localhost:35729/livereload.js"></script>

    </body>
</html>
